.elementContainer {
    padding: 4px;
    position: relative;
    z-index: 1;
    cursor: default;
    transition: all 0.3s ease;
    width: 4rem;
    height: min-content;
}

.elementContainer2 {
    grid-column-start: -2;
    padding: 4px;
}

.elementContainer3{
    grid-column-start: 1;
    padding: 4px;
} 

.elementContainer5,
.elementContainer13 {
    grid-column-start: 13;
    padding: 4px;
}

.elementContainer72,
.elementContainer104 {
    grid-column-start: 4; 
    padding: 4px;
}

.elementContainer56,
.elementContainer88  {
    grid-column-start: 2;
    padding: 4px;
} 

.elementCard {
    box-sizing: unset;
    flex-basis: 45%;
    padding: 4px;
    /* text-align: left; */
    /* color: inherit; */
    text-decoration: none;
    
}  

.elementCard .symbol {
    font: 700 1rem "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}

.elementCard .number {
    border-radius: 10px;
    font-size: 0.6em;
    padding: 0;
    margin: 0;
}

.elementCard .name {
    font: 500 0.5rem "Poppins", sans-serif;
    margin: 0;
}

.elementCard .mass {
    font: 500 0.5rem "Poppins", sans-serif;
    margin: 0;
}

.elementCard:hover {
    cursor: pointer;

    color: #0070f3;
    border-color: #0070f3;
}

.nonmetal {
    color: #008000;
    border: 2px solid #008000;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.nobleGas {
    color: #0000ff;
    border: 2px solid #0000ff;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.alkaliMetal {
    color: #FFA500;
    border: 2px solid #FFA500;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.alkaliEarthMetal {
    color: #ffff00;
    border: 2px solid #ffff00;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.metalloid {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.transitionMetal {
    color: #ff007f;
    border: 2px solid #ff007f;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.metal {
    color: #03bb85;
    border: 2px solid #03bb85;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.postTrasitionMetal {
    color: #03bb85;
    border: 2px solid #03bb85;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}
